<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfnxyRXcD9j7GibVEjbJy1oUVxNVfsf2o</string>
	<key>GCM_SENDER_ID</key>
	<string>956784069902</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ihealthMonitor.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ihelth-monitor</string>
	<key>STORAGE_BUCKET</key>
	<string>ihelth-monitor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956784069902:ios:18eeb6e485929c54599b5f</string>
</dict>
</plist>